h3
  {
    font-size: 25px !important;
  }
  canvas {
  	border:1px solid black;
    margin-top: 110px;
  }

  body {
background-image: url(black-background-10-hipwallpaper\ \(2\).png);

  }

  label{
 color: azure;

  }
